<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/jdbc
     http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
     http://www.springframework.org/schema/data/jpa
     http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<bean id="customerDataSource1" parent="abstractDataSource">
		<property name="url" value="${jdbc.customerDatabaseurl1}" />
	</bean>

	<bean id="customerDataSource2" parent="abstractDataSource">
		<property name="url" value="${jdbc.customerDatabaseurl2}" />
	</bean>

	<bean id="customerDataSource3" parent="abstractDataSource">
		<property name="url" value="${jdbc.customerDatabaseurl3}" />
	</bean>

	<bean id="customerAbstractDataSource"
		class="com.iconectiv.irsf.portal.config.CustomerDatasourceRouter">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="cust01" value-ref="customerDataSource1" />
				<entry key="cust02" value-ref="customerDataSource2" />
				<entry key="cust03" value-ref="customerDataSource3" />
			</map>
		</property>
	</bean>


</beans>